@use '../../styles/vars' as *;

.cart{
  width: 15rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
  background-color: #237f52;
  border-radius: 50%;
  padding: 5px;
  cursor: pointer;
  border: none;
  transition: 0.2s;
  
  &:hover{
    background-color: #1db56b;
  }

  img{
    width: 40px;
  }

  h3{
      font-size: 2rem;
      font-style: italic;
      font-weight: 400;
  }
  
  span{
      font-size: 1.3rem;
      background-color: $bg_color_numbers;
      border-radius: 50%;
      padding: 10px;
      color: $primary_color;
  }
}

