@use "../../styles/vars" as *;

.categories {
    text-align: center;

  .food-categories {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }

  h5 {
    font-size: 2.5rem;
    margin: 2rem 0;
    color: $main_titles;
  }
}
