@use "../../../styles/mixins" as *;
@use "../../../styles/vars" as *;

.cart {
  width: 20rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 1rem;
  background-color: #237f52;
  border-radius: 25px;
  padding: 0.3rem 3rem;
  cursor: pointer;
  border: none;
  transition: $main_transition;

  @include responsive(hover) {
    &:hover,
    &:active {
      background-color: $cart_bg_color;
    }
  }

  img {
    width: 40px;
  }

  h3 {
    font-size: 2rem;
    font-style: italic;
    font-weight: 400;
  }

  span {
    font-size: 1.3rem;
    background-color: $bg_color_numbers;
    border-radius: 25px;
    padding: 10px;
    color: $primary_color;
    font-weight: bold;
    margin-left: 1rem;
    padding: 0.5rem 1rem;
  }

  @include responsive(tablet) {
    width: 15rem;
    background-color: $cart_bg_color;

    img {
      width: 35px;
    }

    h3 {
      font-size: 1.8rem;
    }

    span {
      font-size: 1.2rem;
      margin-left: 0rem;
    }
  }

  @include responsive(mobile) {
    width: 12rem;
    gap: 0.7rem;
    padding: 0.2rem 3rem;
    background-color: $cart_bg_color;

    img {
      width: 30px;
    }

    h3 {
      font-size: 1.5rem;
    }

    span {
      font-size: 1rem;
      margin-left: 0rem;
    }
  }
}
