@use "../../../styles/vars" as *;

.products {
  display: flex;
  flex-wrap: wrap;
  width: 80vw;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;

  .no-items,
  .loading,
  .error {
    background-color: $bg_color;
    padding: 2rem 6rem;
    margin: 2rem 0 4rem;
    font-weight: bold;
    font-size: 2rem;
    text-align: center;
    color: $primary_color;
  }

  .loading{
    color: $main_titles;
  }
  
  .error{
    color: $bg_card_color;
  }



}
