@use "../../../styles/vars.scss" as *;
.products {
  display: flex;
  width: 80vw;
  flex-wrap: wrap;
  gap: 2rem;
  align-items: center;
  justify-content: center;
  margin: 2rem auto;
}

.no-items,
.loading,
.error {
  width: 40%;
  border-radius: 4px;
  background-color: $bg_color;
  padding: 1rem 3rem;
  margin: 2rem auto;
  font-size: 2rem;
  text-align: center;
}

.no-items {
  color: $primary_color;
}

.loading {
  color: $main_titles;
}

.error {
  color: $bg_card_color;
}
