@use '../../styles/vars' as *;

.form-checkout{
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid $secondary_titles;
  margin:3rem 0 0.5rem;
  padding: 1.5rem;
  color: $primary_color;
  font: 1.5rem bold;
  .input-box{
    display: flex;
    justify-content: space-between;
    align-items: center;

    label{

    }

    input{
      margin-left: 1rem;
      width: 35vw;
      height: 30px;
      padding: 1.3rem 1rem;
      font-size: 1.5rem;
      background-color: transparent;
      color: $primary_color;
      outline: none;
      border: 2px solid #004D40;
      border-radius: 5px;
      caret-color: $main_titles;
      transition: $main_transition;

      // border: 1px solid $cart_bg_color;
      &:focus{
        box-shadow: #004D40 3px 2px 10px 0px, #004D40 3px 2px 10px 0px;
      }
    }
  }
}