@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.form-checkout {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  border: 2px solid $btn_color;
  margin: 3rem 0 0.5rem;
  padding: 1.5rem;
  color: $primary_color;
  font: 1.5rem bold;

  .input-boxes {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    .input-box {
      display: flex;
      align-items: center;
      flex-direction: column;
      gap: 1rem;
      input {
        width: 100%;
        height: 30px;
        padding: 1.3rem 1rem;
        font-size: 1.5rem;
        background-color: transparent;
        color: $primary_color;
        outline: none;
        border: 2px solid $input_color;
        border-radius: 5px;
        caret-color: $main_titles;
        transition: $main_transition;

        &:focus {
          box-shadow: $input_color 3px 2px 10px 0px,
            $input_color 3px 2px 10px 0px;
        }
      }

      .isValid{
        color: #ff4c4c;
      }
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 4rem;

    button {
      font-size: 1.2rem;
      padding: 0.8rem 2.5rem;
      border-radius: 6px;
      background-color: transparent;
      cursor: pointer;
      color: $primary_color;
      transition: $main_transition;
    }

    .cancel {
      border: 1px solid $bg_card_color;
      &:hover {
        background-color: $bg_card_color;
      }
    }

    .confirm {
      border: 1px solid $secondary_titles;
      &:hover {
        background-color: $secondary_titles;
      }
    }
  }

  @include responsive(tablet) {
    padding: 1.5rem 1rem;

    .actions {
      gap: 3rem;

      button {
        font-size: 1rem;
      }
    }
  }

  @include responsive(mobile) {
    font: 1rem bold;

    .input-boxes {
      .input-box {
        input {
          font-size: 1rem;
        }
      }
    }

    .actions {
      flex-direction: column-reverse;
      gap: 2rem;
      margin-top: 1rem;
      button {
        font-size: 1rem;
        padding: 0.8rem 4rem;
      }
    }
  }
}
