@use "../../../styles/vars.scss" as *;
@use '../../../styles/mixins.scss' as *;

.food-box {
  background-color: $bg_color;
  display: flex;
  width: calc(calc(80vw - 2rem) / 3);
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  border-radius: 0.7rem;

  .food-info {
    color: $primary_color;
    h4 {
      font-size: 1.5rem;
      line-height: 1.5;
    }

    h6 {
      font-size: 1rem;
      margin: 0.7rem 0;
    }

    span {
      color: #34bf49;
      font-size: 1rem;
      font-weight: bold;
    }
  }

  @include responsive(tablet){
  width: calc(calc(80vw - 2rem) / 2);
  padding: 0.7rem 1rem;

  .food-info {
    h4 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  }
  }

  @include responsive(mobile){
  width: calc(80vw - 2rem);

  .food-info {
    h4 {
      font-size: 1rem;
    }

    h6 {
      font-size: 0.8rem;
      margin: 0.5rem 0;
    }
  }
  }
}
