@use "../../styles/vars" as *;
@use "../../styles/mixins" as *;

.navbar {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: $bg_color;
  position: fixed;
  width: 100%;
  z-index: 11;
  color: $primary_color;

  h1 {
    font-style: italic;
    font-size: 3rem;
    user-select: none;
    span {
      font-size: 2rem;
    }
  }

  @include responsive(tablet) {
    padding: 15px 0;

    h1 {
      font-size: 2rem;
      span {
        font-size: 1.4rem;
      }
    }
  }

  @include responsive(mobile) {
    padding: 10px 0;

    h1 {
      font-size: 1.5rem;
      span {
        font-size: 0.8rem;
      }
    }
  }
}
