@use '../../styles/vars' as *;

.navbar{
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 20px 0;
  background-color: $bg_color;
  position: fixed;
  width: 100%;
  z-index: 11;


  p{
    color: $primary_color;
    font-size: 2rem;
  }
}