@use "../../../styles/vars" as *;
@use "../../../styles/mixins" as *;

.card {
  padding: 20px 30px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 1rem;
  border-radius: 10px;
  transition: $main_transition;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  // When hover (div and it's children affect)
  @include responsive(hover) {
    &:hover {
      background-color: $bg_card_color;
      img {
        background-color: $primary_color;
      }

      button {
        color: $primary_color;
        border: 1px solid $primary_color;
      }
    }
  }

  img {
    width: 90px;
    background-color: $bg_card_color;
    border-radius: 50%;
    padding: 0.5rem;
    transition: $main_transition;
  }

  button {
    color: $btn_color;
    border: none;
    font-size: 1.5rem;
    font-style: italic;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }

  @include responsive(tablet) {
    padding: 15px 20px;

    img {
      width: 70px;
    }

    button {
      font-size: 1.3rem;
      color: $primary_color;
      background-color: $main_titles;
    }
  }

  @include responsive(mobile) {
    padding: 10px;

    img {
      width: 50px;
    }

    button {
      font-size: 1rem;
      color: $primary_color;
      background-color: $main_titles;
    }
  }
}
