@use "../../../styles/vars" as *;

.card {
  padding: 20px 30px;
  background-color: $primary_color;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 25px;
  border-radius: 10px;
    transition: 0.2s;
  box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px,
    rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px,
    rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;

  // When hover (div and it's children affect)
  &:hover {
    background-color: $bg_card_color;
    img {
      background-color: $primary_color;
    }

    button {
      color: $primary_color;
      border: 2px solid $primary_color;
    }
  }

  img {
    width: 70px;
    background-color: $bg_card_color;
    border-radius: 50%;
    padding: 15px;
    transition: 0.3s;
  }

  button {
    color: $btn_color;
    border: none;
    font-size: 1.5rem;
    font-style: italic;
    transition: 0.2s;
    background-color: transparent;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
  }
}
